<div
  class="bg-gradient-to-r from-indigo-800 to-blue-900 min-h-screen flex items-center justify-center p-4"
>
  <div
    class="bg-white dark:bg-gray-800 rounded-xl shadow-2xl max-w-4xl w-full p-8 transition-all duration-300 animate-fade-in"
  >
    <!-- MI INFORMACION ESPECIALISTA -->
    <div
      class="flex flex-col md:flex-row"
      *ngIf="auth.currentUser.rol === 'especialista'"
    >
      <div class="md:w-1/3 text-center mb-8 md:mb-0">
        <img
          [src]="auth.userImages[0]"
          heigh="500"
          class="rounded-full w-48 h-48 mx-auto mb-4 border-4 border-indigo-800 dark:border-blue-900 transition-transform duration-300 hover:scale-105"
        />
        <h1 class="text-2xl font-bold text-indigo-800 dark:text-white mb-2">
          {{ auth.currentUser.name + " " + auth.currentUser.lastName }}
        </h1>

        <!-- MIS HORARIOS BUTTON -->
        <button
          class="rounded-full w-48 h-16 text-white font-semibold lg:mt-10"
          [ngClass]="showMisHorarios ? 'bg-rose-500' : 'bg-gray-600'"
          (click)="toggleMisHorarios()"
          *ngIf="auth.currentUser.rol === 'especialista'"
        >
          <div class="flex gap-3 justify-center items-center">
            <span>
              <svg
                class="w-8 h-8"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
                />
              </svg>
            </span>
            <span class="text-xl">Mis horarios</span>
          </div>
        </button>
        <button
          class="rounded-full w-56 h-16 text-white font-semibold lg:mt-10"
          [ngClass]="showHistoriaClinica ? 'bg-rose-500' : 'bg-gray-600'"
          (click)="toggleHistoriaClinica()"
          *ngIf="auth.currentUser.rol === 'paciente'"
        >
          <div class="flex gap-3 justify-center items-center">
            <span>
              <svg
                class="w-8 h-8"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
                />
              </svg>
            </span>
            <span class="text-xl">Historia Clinica</span>
          </div>
        </button>
      </div>

      <ng-content
        *ngIf="showMisHorarios; then misHorarios; else information"
      ></ng-content>
    </div>

    <!-- MI INFORMACION PACIENTE -->

    <div
      class="flex flex-col md:flex-row"
      *ngIf="auth.currentUser.rol === 'paciente'"
    >
      <div class="md:w-1/3 text-center mb-8 md:mb-0">
        <img
          [src]="auth.userImages[0]"
          heigh="500"
          class="rounded-full w-48 h-48 mx-auto mb-4 border-4 border-indigo-800 dark:border-blue-900 transition-transform duration-300 hover:scale-105"
        />
        <img
          [src]="auth.userImages[1]"
          heigh="500"
          class="rounded-full w-48 h-48 mx-auto mb-4 border-4 border-indigo-800 dark:border-blue-900 transition-transform duration-300 hover:scale-105"
        />
        <h1 class="text-2xl font-bold text-indigo-800 dark:text-white mb-2">
          {{ auth.currentUser.name + " " + auth.currentUser.lastName }}
        </h1>

        <!-- HISTORIA CLINICA BUTTON -->

        <button
          class="rounded-full w-56 h-16 text-white font-semibold lg:mt-10"
          [ngClass]="showHistoriaClinica ? 'bg-rose-500' : 'bg-gray-600'"
          (click)="toggleHistoriaClinica()"
        >
          <div class="flex gap-3 justify-center items-center">
            <span>
              <svg
                class="w-8 h-8"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
                />
              </svg>
            </span>
            <span class="text-xl">Historia Clinica</span>
          </div>
        </button>
      </div>

      <ng-content
        *ngIf="showHistoriaClinica; then historiaClinica; else information"
      ></ng-content>
    </div>
  </div>
</div>

<ng-template #information>
  <div class="md:w-2/3 md:pl-8">
    <div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Información del usuario
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Acá se encuentran los datos del paciente
        </p>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div
            class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Nombre completo</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ auth.currentUser.name + " " + auth.currentUser.lastName }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">DNI</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ auth.currentUser.dni }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Rol</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ auth.currentUser.rol.toUpperCase() }}
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Edad</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ auth.currentUser.age }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Email</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ auth.currentUser.email }}
            </dd>
          </div>
          <div
            *ngIf="auth.currentUser.rol === 'especialista'"
            class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt>Especialidad(des):</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ auth.currentUser.especialidad.join(", ") }}
            </dd>
          </div>
          <div
            *ngIf="auth.currentUser.rol === 'paciente'"
            class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Obra Social</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ auth.currentUser.obraSocial }}
            </dd>
          </div>
        </dl>
      </div>
      <app-download-historia-clinica
        *ngIf="auth.currentUser.rol === 'paciente'"
      ></app-download-historia-clinica>
    </div>
  </div>
</ng-template>

<ng-template #misHorarios>
  <form [formGroup]="horariosForm" class="md:w-2/3 md:pl-8">
    <div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Mis horarios
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Acá se pueden cambiar los horarios donde se encuentra disponible
        </p>
        <label
          for="countries"
          class="block mb-1 mt-2 text-sm font-medium text-gray-900"
          >Selecciona una especialidad</label
        >
        <select
          id="countries"
          (change)="onChangeSelect($event)"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option
            *ngFor="let especialidad of especialidades"
            [value]="especialidad.especialidad"
          >
            {{ especialidad.especialidad }}
          </option>
        </select>
      </div>

      <div class="border-t border-gray-200">
        <dl>
          <div
            class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
            *ngFor="let dia of day"
          >
            <dt class="text-sm font-medium text-gray-500">{{ dia }}</dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex items-center justify-between"
            >
              Inicio
              <p
                *ngIf="!isModifying"
                class="text-white bg-slate-600 px-3 py-2 rounded-md"
              >
                {{ defaultAvailability[dia.toLowerCase()].inicio }}
              </p>
              <select
                *ngIf="isModifying"
                [formControlName]="dia.toLowerCase() + 'Inicio'"
                class="block text-sm font-medium transition duration-75 border border-gray-800 rounded-lg shadow-sm h-9 focus:border-blue-600 focus:ring-1 focus:ring-inset focus:ring-blue-600 bg-none"
              >
                <ng-container *ngIf="dia !== 'Sabado'"
                  ><option [value]="time" *ngFor="let time of times">
                    {{ time }}
                  </option></ng-container
                >
                <ng-container *ngIf="dia === 'Sabado'"
                  ><option [value]="time" *ngFor="let time of sabados">
                    {{ time }}
                  </option></ng-container
                >
              </select>
              Fin
              <p
                *ngIf="!isModifying"
                class="text-white bg-slate-600 px-3 py-2 rounded-md"
              >
                {{ defaultAvailability[dia.toLowerCase()].fin }}
              </p>
              <select
                *ngIf="isModifying"
                [formControlName]="dia.toLowerCase() + 'Fin'"
                class="block text-sm font-medium transition duration-75 border border-gray-800 rounded-lg shadow-sm h-9 focus:border-blue-600 focus:ring-1 focus:ring-inset focus:ring-blue-600 bg-none"
              >
                <ng-container *ngIf="dia !== 'Sabado'"
                  ><option [value]="time" *ngFor="let time of times">
                    {{ time }}
                  </option></ng-container
                >
                <ng-container *ngIf="dia === 'Sabado'"
                  ><option [value]="time" *ngFor="let time of sabados">
                    {{ time }}
                  </option></ng-container
                >
              </select>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <button
      class="rounded-full w-48 h-16 mr-2 text-white font-semibold lg:mt-10 bg-sky-500 disabled:bg-gray-400"
      (click)="modificarHorarios()"
      [disabled]="isModifying"
    >
      Modificar
    </button>
    <button
      class="rounded-full w-48 h-16 text-white font-semibold lg:mt-10 bg-green-500"
      (click)="guardarHorarios()"
      *ngIf="isModifying"
    >
      Guardar
    </button>
  </form>
</ng-template>

<ng-template #historiaClinica> </ng-template>
