<div
  class="bg-gradient-to-r from-indigo-800 to-blue-900 min-h-screen flex flex-col items-center justify-center p-4"
>
  <ng-container [ngSwitch]="userList">
    <ng-container *ngSwitchCase="'users'">
      <ng-container [ngTemplateOutlet]="userManagement"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'create'">
      <ng-container [ngTemplateOutlet]="userCreation"></ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container [ngTemplateOutlet]="userManagement"></ng-container>
    </ng-container>
  </ng-container>

  <div class="fixed bottom-4 right-4" *ngIf="userList !== 'create'">
    <button
      (click)="changeUserList('create')"
      class="p-0 w-16 h-16 bg-red-600 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none"
    >
      <svg
        viewBox="0 0 20 20"
        enable-background="new 0 0 20 20"
        class="w-6 h-6 inline-block"
      >
        <path
          fill="#FFFFFF"
          d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                      C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                      C15.952,9,16,9.447,16,10z"
        />
      </svg>
    </button>
  </div>
</div>

<ng-template #userManagement>
  <div class="mt-8 lg:mt-1 w-full flex items-end justify-around">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Usuarios
    </h1>
    <button
      class="mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="descargarExcel()"
    >
      Descargar Excel
    </button>
  </div>

  <div class="grid lg:grid-cols-4 gap-4">
    <!-- USERS AS CARDS -->
    <!-- <div
    class="w-full max-w-sm bg-white border m-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    *ngFor="let user of users"
  >
    <div class="flex flex-col items-center pb-10 pt-10">
      <img
        class="w-24 h-24 mb-3 rounded-full shadow-lg"
        [src]="user.profilePicture"
      />
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
        {{ user.name + " " + user.lastName }}
      </h5>
      <span class="mb-2 text-sm text-gray-500 dark:text-gray-400">{{
        user.rol
      }}</span>
      <span
        [IsVerified]="user.adminVerified"
        class="text-white py-1 px-2 rounded-full text-xs"
        >{{ user.adminVerified ? "Habilitado" : "Deshabilitado" }}</span
      >
      <div class="flex mt-4 md:mt-6">
        <button
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-center rounded-lg text-white focus:ring-4 focus:outline-none focus:ring-blue-300"
          (click)="toggleAdmin(user)"
          [IsVerified]="!user.adminVerified"
        >
          {{ user.adminVerified ? "Deshabilitar" : "Habilitar" }}
        </button>
      </div>
    </div>
  </div> -->
    <div
      class="grid lg:grid-cols-1 justify-items-center"
      *ngFor="let user of users"
    >
      <p class="text-sm text-white leading-5">
        {{ user.name + " " + user.lastName }}
      </p>
      <button
        (click)="descargarInfoTurnos(user)"
        class="p-0 w-28 h-28 bg-red-600 rounded-full hover:bg-red-700 hover:scale-110 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none"
      >
        <img
          class="w-28 h-28 rounded-full shadow-lg"
          [src]="user.profilePicture"
        />
      </button>
    </div>
  </div>
</ng-template>

<ng-template #userCreation
  ><app-create-new-users (salir)="changeUserList($event)"></app-create-new-users
></ng-template>
