<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <ng-content *ngIf="showForm; then turnoForm; else allTurnos"></ng-content>
  <ng-content *ngIf="turnos.length !== 0; else loading"></ng-content>

  <!-- BOTTOM BUTTON -->
  <div class="animate-bounce fixed bottom-4 right-4">
    <button
      *ngIf="!showForm"
      class="p-0 w-16 h-16 bg-red-600 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none"
      (click)="openForm()"
    >
      <svg
        viewBox="0 0 20 20"
        enable-background="new 0 0 20 20"
        class="w-6 h-6 inline-block"
      >
        <path
          fill="#FFFFFF"
          d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                        C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                        C15.952,9,16,9.447,16,10z"
        />
      </svg>
    </button>
  </div>
</div>

<ng-template #allTurnos>
  <div
    class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
  >
    <div class="flex items-center justify-center p-2 w-full">
      <h2 class="text-4xl font-extrabold dark:text-white">Mis turnos</h2>
    </div>
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 p-2"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Especialista</th>
          <th scope="col" class="px-6 py-3">Especialidad</th>
          <th scope="col" class="px-6 py-3">Fecha</th>
          <th scope="col" class="px-6 py-3">Hora</th>
          <th scope="col" class="px-6 py-3">Estado</th>
          <th scope="col" class="px-6 py-3">Accción</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          *ngFor="let turno of turnos"
        >
          <th
            scope="row"
            class="flex items-center px-6 py-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            <div class="ps-3">
              <div class="text-base font-semibold">
                {{ turno.especialista.fullName }}
              </div>
            </div>
          </th>
          <td class="px-6 py-4">{{ turno.especialidad }}</td>
          <td class="px-6 py-4">{{ turno.date | shortDate }}</td>
          <td class="px-6 py-4">{{ turno.time }}</td>
          <td class="px-6 py-4">
            <div class="flex items-center">
              <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 me-2"></div>
              {{ turno.estado }}
            </div>
          </td>
          <td class="px-6 py-4">
            <button
              (click)="toggleDropdown(1)"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Opciones
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div
              [ngClass]="{ hidden: openDropdownIndex !== 1 }"
              id="dropdown"
              class="z-10 mt-2 fixed bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
              <div
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownDefaultButton"
              >
                <button
                  (click)="cancelarTurno(turno)"
                  class="w-44 flex px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  Cancelar
                </button>

                <button
                  (click)="verReview(turno)"
                  class="w-44 flex px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  Ver reseña
                </button>

                <button
                  (click)="verComentario(turno)"
                  class="w-44 flex px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  Ver comentario
                </button>

                <button
                  (click)="calificarAtencion(turno)"
                  class="w-44 flex px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  Calificar atención
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #turnoForm>
  <div
    class="bg-white rounded-lg shadow-lg p-6 md:p-10 max-w-3xl mx-auto lg:w-[800px]"
  >
    <h1 class="text-3xl font-bold text-center mb-8">Solicitar Nuevo Turno</h1>

    <!-- Progress Bar -->
    <div class="mb-8">
      <div class="flex justify-between mb-2">
        <span
          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-sky-600 bg-sky-200"
          id="step1"
        >
          Especialidad
        </span>
        <span
          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-sky-600 bg-sky-200 opacity-50"
          id="step2"
        >
          Especialista
        </span>
        <span
          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-sky-600 bg-sky-200 opacity-50"
          id="step3"
        >
          Fecha y hora
        </span>
      </div>
      <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-sky-200">
        <div
          id="progress-bar"
          class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-sky-500 w-0 transition-all duration-500 ease-in-out"
        ></div>
      </div>
    </div>

    <!-- Steps -->
    <div>
      <!-- Step 1: Especialidades -->
      <div
        id="step-1"
        class="grid grid-cols-2 lg:grid-cols-4 gap-4 justify-items-center"
        [ngClass]="currentStep === 1 ? '' : 'hidden'"
      >
        <button
          class="bg-sky-200 p-2 flex flex-col justify-center items-center hover:bg-sky-400 transition-all duration-300 ease-in-out cursor-pointer w-[120px] h-[120px]"
          *ngFor="let especialidad of especialidades"
          [ngClass]="especialidad === selectedEspecialidad ? 'bg-sky-400' : ''"
          (click)="selectedEspecialidad = especialidad"
        >
          <img
            class="max-w-20 min-w-20 max-h-20 min-h-20 object-fill"
            [src]="
              '../../../../../assets/images/especialidades/' +
              especialidad +
              '.png'
            "
            onerror="this.src='../../../../../assets/images/especialidades/default.png'"
          />
          <!-- {{ especialidad }} -->
        </button>
      </div>

      <!-- Step 2: Especialistas -->
      <div
        id="step-2"
        class="grid grid-cols-2 lg:grid-cols-4 gap-4 justify-items-center"
        [ngClass]="currentStep === 2 ? '' : 'hidden'"
      >
        <button
          class="bg-sky-200 p-2 flex flex-col justify-center items-center hover:bg-sky-400 transition-all duration-300 ease-in-out cursor-pointer w-[170px] h-[120px]"
          *ngFor="let especialista of filteredEspecialistas"
          [ngClass]="especialista === selectedEspecialista ? 'bg-sky-400' : ''"
          (click)="selectedEspecialista = especialista"
        >
          <p class="text-sm">
            {{ especialista.name + " " + especialista.lastName }}
          </p>

          <img
            class="max-w-20 min-w-20 max-h-20 min-h-20 object-fill"
            [src]="especialista.profilePicture"
          />
        </button>
      </div>

      <!-- Step 3: Fecha y hora -->
      <div id="step-3" [ngClass]="currentStep === 3 ? '' : 'hidden'">
        <app-appointment-scheduler-component
          [especialidad]="selectedEspecialidad"
          [especialista]="selectedEspecialista"
          [paciente]="authService.currentUser.uid"
          (turnoCreated)="createdTurno = $event"
        ></app-appointment-scheduler-component>
      </div>

      <small class="text-xs text-red-500" *ngIf="isError">
        {{ errorMsg }}
      </small>

      <!-- Navigation Buttons -->
      <div class="flex justify-between mt-8">
        <button
          type="button"
          id="prevBtn"
          class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg hover:bg-gray-400 focus:outline-none focus:shadow-outline"
          (click)="prev()"
          *ngIf="currentStep !== 1"
        >
          Anterior
        </button>
        <button
          type="button"
          id="nextBtn"
          class="px-4 py-2 bg-sky-500 text-white rounded-lg hover:bg-sky-600 focus:outline-none focus:shadow-outline"
          (click)="next()"
          *ngIf="currentStep !== 3"
        >
          Siguiente
        </button>
        <button
          type="button"
          id="submitBtn"
          class="px-4 py-2 bg-sky-500 text-white rounded-lg hover:bg-sky-600 focus:outline-none focus:shadow-outline"
          (click)="crearTurno(createdTurno)"
          *ngIf="currentStep === 3"
        >
          Solicitar Turno
        </button>
        <button
          type="button"
          id="cancelarBtn"
          class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:outline-none focus:shadow-outline"
          (click)="cerrarForm()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="flex justify-center items-center h-[60px]">
    <svg
      aria-hidden="true"
      class="w-8 h-8 text-gray-400 animate-spin fill-blue-600"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
  </div>
</ng-template>
