<div class="wrapper" *ngIf="captchaResult === false">
  <div class="captcha-area">
    <div class="captcha-img">
      <img src="/assets/images/captcha-bg.png" alt="Captch Background" />
      <span class="captcha">{{ captcha }}</span>
    </div>
    <button class="reload-btn" (click)="getCaptcha()" type="button">
      <i class="fas fa-redo-alt">RL</i>
    </button>
  </div>
  <form action="#" class="input-area">
    <input
      type="text"
      placeholder="Ingresar captcha"
      name="textoCaptcha"
      maxlength="6"
      spellcheck="false"
      [(ngModel)]="captchaParaVerificar"
      required
    />
  </form>
  <button type="button" class="btnVerificar" (click)="verificarCaptcha()">
    Verificar
  </button>
  <div class="status-text"></div>
</div>

<div class="wrapper" *ngIf="captchaResult === true">
  <div class="captcha-area">
    <div class="checkContenedor">
      <img
        src="/assets/images/check.png"
        alt="Captch Background"
        class="checkImage"
      />
    </div>
  </div>
</div>
