<div class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="w-1/2 h-screen hidden lg:block">
    <img
      src="https://www.swissmedical.com.ar/prepagaclientes/assets/dd3fc9c9.jpg"
      class="object-cover w-full h-full"
    />
  </div>

  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2 flex flex-col">
    <h1 class="text-2xl font-semibold mb-4">Registrarse</h1>
    <div class="flex border-b border-gray-300 mb-5">
      <button
        class="w-1/2 py-4 text-center font-medium text-gray-700 bg-gray-100 rounded-tl-lg focus:outline-none active:bg-red-300"
        (click)="switchTab('paciente')"
        [ngClass]="isPaciente ? 'bg-red-300' : ''"
      >
        Paciente
      </button>
      <button
        class="w-1/2 py-4 text-center font-medium text-gray-700 bg-gray-100 rounded-tr-lg focus:outline-none active:bg-red-300"
        (click)="switchTab('especialista')"
        [ngClass]="isPaciente ? '' : 'bg-red-300'"
      >
        Especialista
      </button>
    </div>
    <!-- FORM PACIENTE -->
    <ng-template [ngIf]="isPaciente" [ngIfElse]="especialista">
      <form action="#" method="POST">
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              class="h-5 w-5 text-gray-400"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
              ></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <input
              id="name"
              class="pl-2 w-full outline-none border-none"
              type="text"
              name="name"
              placeholder="Nombre"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              class="h-5 w-5 text-gray-400"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
              ></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <input
              id="lastName"
              class="pl-2 w-full outline-none border-none"
              type="text"
              name="lastName"
              placeholder="Apellido"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M3 3h18v18H3zM12 8v8m-4-4h8"
              />
            </svg>
            <input
              id="age"
              class="pl-2 w-full outline-none border-none"
              type="number"
              name="age"
              placeholder="Edad"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <rect x="2" y="4" width="20" height="16" rx="2" />
              <path d="M7 15h0M2 9.5h20" />
            </svg>
            <input
              id="dni"
              class="pl-2 w-full outline-none border-none"
              type="number"
              name="dni"
              placeholder="DNI"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
              ></path>
              <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
            </svg>
            <input
              id="obraSocial"
              class="pl-2 w-full outline-none border-none"
              type="text"
              name="obraSocial"
              placeholder="Obra Social"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
              />
            </svg>
            <input
              id="email"
              class="pl-2 w-full outline-none border-none"
              type="email"
              name="email"
              placeholder="Correo eléctronico"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clipRule="evenodd"
              />
            </svg>
            <input
              class="pl-2 w-full outline-none border-none"
              type="password"
              name="password"
              id="password"
              placeholder="Contraseña"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clipRule="evenodd"
              />
            </svg>
            <input
              class="pl-2 w-full outline-none border-none"
              type="repeatPassword"
              name="repeatPassword"
              id="repeatPassword"
              placeholder="Repetir contraseña"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <div class="mx-auto max-w-xs">
              <label
                for="example1"
                class="mb-1 block text-sm font-medium text-gray-700"
                >Primera foto</label
              >
              <input
                id="firstProfilePicture"
                name="firstProfilePicture"
                type="file"
                class="mt-2 block w-full text-sm file:mr-4 file:rounded-md file:border-0 file:bg-orange-500 file:py-2 file:px-4 file:text-sm file:font-semibold file:text-white hover:file:bg-orange-700 focus:outline-none disabled:pointer-events-none disabled:opacity-60"
              />
            </div>
            <div class="mx-auto max-w-xs">
              <label
                for="example1"
                class="mb-1 block text-sm font-medium text-gray-700"
                >Segunda foto</label
              >
              <input
                id="secondProfilePicture"
                name="secondProfilePicture"
                type="file"
                class="mt-2 block w-full text-sm file:mr-4 file:rounded-md file:border-0 file:bg-orange-500 file:py-2 file:px-4 file:text-sm file:font-semibold file:text-white hover:file:bg-orange-700 focus:outline-none disabled:pointer-events-none disabled:opacity-60"
              />
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="bg-rose-500 hover:bg-rose-700 text-white font-semibold rounded-md py-2 px-4 w-full"
        >
          Registrarse
        </button>
      </form>
    </ng-template>

    <!-- FORM ESPECIALISTA -->
    <ng-template #especialista
      ><form action="#" method="POST">
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              class="h-5 w-5 text-gray-400"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
              ></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <input
              id="name"
              class="pl-2 w-full outline-none border-none"
              type="text"
              name="name"
              placeholder="Nombre"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              class="h-5 w-5 text-gray-400"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
              ></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <input
              id="lastName"
              class="pl-2 w-full outline-none border-none"
              type="text"
              name="lastName"
              placeholder="Apellido"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M3 3h18v18H3zM12 8v8m-4-4h8"
              />
            </svg>
            <input
              id="age"
              class="pl-2 w-full outline-none border-none"
              type="number"
              name="age"
              placeholder="Edad"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <rect x="2" y="4" width="20" height="16" rx="2" />
              <path d="M7 15h0M2 9.5h20" />
            </svg>
            <input
              id="dni"
              class="pl-2 w-full outline-none border-none"
              type="number"
              name="dni"
              placeholder="DNI"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
              ></path>
              <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
            </svg>
            <input
              id="especialidad"
              class="pl-2 w-full outline-none border-none"
              type="text"
              name="especialidad"
              placeholder="Especialidad"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
              />
            </svg>
            <input
              id="email"
              class="pl-2 w-full outline-none border-none"
              type="email"
              name="email"
              placeholder="Correo eléctronico"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clipRule="evenodd"
              />
            </svg>
            <input
              class="pl-2 w-full outline-none border-none"
              type="password"
              name="password"
              id="password"
              placeholder="Contraseña"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fillRule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clipRule="evenodd"
              />
            </svg>
            <input
              class="pl-2 w-full outline-none border-none"
              type="repeatPassword"
              name="repeatPassword"
              id="repeatPassword"
              placeholder="Repetir contraseña"
            />
          </div>
        </div>
        <div class="mb-4">
          <div class="grid justify-start border-2 py-2 px-3 rounded-2xl">
            <div class="mx-auto max-w-xs">
              <label
                for="example1"
                class="mb-1 block text-sm font-medium text-gray-700"
                >Foto</label
              >
              <input
                id="profilePicture"
                name="profilePicture"
                type="file"
                class="mt-2 block w-full text-sm file:mr-4 file:rounded-md file:border-0 file:bg-orange-500 file:py-2 file:px-4 file:text-sm file:font-semibold file:text-white hover:file:bg-orange-700 focus:outline-none disabled:pointer-events-none disabled:opacity-60"
              />
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="bg-rose-500 hover:bg-rose-700 text-white font-semibold rounded-md py-2 px-4 w-full"
        >
          Registrarse
        </button>
      </form></ng-template
    >
    <div class="mt-6 text-rose-500 text-center">
      <a href="/login" class="hover:underline">Si ya tenes cuenta, ingresá</a>
    </div>
  </div>
</div>
