<select
  *ngIf="cambiarEspecialidad"
  name="especialidad"
  (change)="changeEspecialidad($event)"
  class="bg-gray-50 border ml-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
>
  <option [value]="''">Selecciona una especialidad</option>
  <option
    *ngFor="let especialidad of especialidadesArray"
    [value]="especialidad"
  >
    {{ especialidad }}
  </option>
</select>
<button
  (click)="downloadPDF()"
  class="bg-gray-300 m-2 hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
>
  <svg
    class="fill-current w-4 h-4 mr-2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
  >
    <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
  </svg>
  <span>Descargar Historia Clinica (PDF)</span>
</button>
