<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div
    class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
  >
    <div class="flex items-center justify-center p-2 w-full">
      <h2 class="text-4xl font-extrabold dark:text-white">Mis turnos</h2>
    </div>
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 p-2"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Especialista</th>
          <th scope="col" class="px-6 py-3">Especialidad</th>
          <th scope="col" class="px-6 py-3">Fecha</th>
          <th scope="col" class="px-6 py-3">Hora</th>
          <th scope="col" class="px-6 py-3">Estado</th>
          <th scope="col" class="px-6 py-3">Accción</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="flex items-center px-6 py-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            <div class="ps-3">
              <div class="text-base font-semibold">Javier Milei</div>
            </div>
          </th>
          <td class="px-6 py-4">Cardiologia</td>
          <td class="px-6 py-4">09/09</td>
          <td class="px-6 py-4">10:30</td>
          <td class="px-6 py-4">
            <div class="flex items-center">
              <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 me-2"></div>
              Pendiente
            </div>
          </td>
          <td class="px-6 py-4">
            <button
              class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out"
            >
              Cancelar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- BOTTOM BUTTON -->
  <div class="fixed bottom-4 right-4">
    <button
      class="p-0 w-16 h-16 bg-red-600 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none"
      (click)="openForm()"
    >
      <svg
        viewBox="0 0 20 20"
        enable-background="new 0 0 20 20"
        class="w-6 h-6 inline-block"
      >
        <path
          fill="#FFFFFF"
          d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                        C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                        C15.952,9,16,9.447,16,10z"
        />
      </svg>
    </button>
  </div>
</div>
