<div class="grid grid-cols-2 lg:grid-cols-4 gap-4 justify-items-center">
  <ng-container
    *ngFor="let interval of intervals"
    class="grid grid-cols-2 lg:grid-cols-4 gap-4 justify-items-center"
  >
    <button
      [disabled]="interval.disabled"
      (click)="requestAppointment(interval)"
      class="text-white rounded-lg p-2"
      [ngClass]="interval === selectedTurno ? 'bg-blue-700' : 'bg-sky-300'"
    >
      {{ interval.date + " " + interval.time }}
    </button>
  </ng-container>
</div>
