<div class="w-full">
  <div class="flex flex-row-reverse">
    <div class="flex flex-auto flex-wrap">
      <ng-container *ngFor="let especialidad of selectedEspecialidades">
        <div
          class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-orange-700 border border-orange-300"
        >
          <div class="text-xs font-normal leading-none max-w-full flex-initial">
            {{ especialidad }}
          </div>
          <div class="flex flex-auto flex-row-reverse">
            <div>
              <svg
                (click)="removeEspecialidad(especialidad)"
                xmlns="http://www.w3.org/2000/svg"
                width="100%"
                height="100%"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-x cursor-pointer hover:text-orange-400 rounded-full w-4 h-4 ml-2"
              >
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </div>
          </div>
        </div>
      </ng-container>

      <input
        (keyup.enter)="addEspecialidad($event)"
        type="text"
        placeholder="Especialidad"
        class="pl-2 w-full outline-none border-none text-gray-800"
      />
    </div>
    <div
      class="text-gray-300 w-8 py-1 pl-2 pr-1 flex items-center border-gray-200"
    >
      <button
        class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none"
      >
        <svg
          (click)="toggleHide()"
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-up w-4 h-4"
        >
          <path d="M6 9l6 6 6-6" />
        </svg>
      </button>
    </div>
  </div>

  <div
    class="shadow top-100 bg-white z-40 w-full lef-0 rounded max-h-select overflow-y-auto"
  >
    <div class="flex flex-col w-full" [ngClass]="isHidden ? 'hidden' : ''">
      <ng-container *ngFor="let especialidad of allEspecialidades">
        <div
          class="cursor-pointer w-full border-gray-100 rounded-t border-b hover:bg-orange-100"
          (click)="addSelectedEspecialidad(especialidad)"
        >
          <div
            [ngClass]="
              this.selectedEspecialidades.includes(especialidad)
                ? 'border-orange-600'
                : 'border-orange-100'
            "
            class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative"
          >
            <div class="w-full items-center flex">
              <div class="mx-2 leading-6">{{ especialidad }}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
